/* @media (prefers-color-scheme: light) { */
  :root {
    --main-color: #CE4949;
    --basic-background-color: #ffffff;
    --basic-text-color: #222222;
    --focus-text-color: #ffffff;
    --hover-text-color: #ffffff;
    --title-font: "Stoked", Helvetica, sans-serif;
    --para-font: "Nexa Light", Helvetica, sans-serif;
    --para-font-bold: "Nexa Bold", Helvetica, sans-serif;
  }
/* } */

/* @media (prefers-color-scheme: dark) {
  :root {
    --main-color: #222222;
    --basic-background-color: #222222;
    --basic-text-color: #ffffff;
    --focus-text-color: #ffffff;
    --hover-text-color: #ffffff;
  }
} */


@font-face {
  font-family: "Stoked";
  src: url(../fonts/stoked.woff);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/nexa-light.woff);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/nexa-bold.woff);
}

/* Basic styling */
* {
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide checkboxes */
input[type="radio"] {
  display: none;
}


/* Flex container */
body > div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

/* Flex container items */
body > div:first-of-type label {
  width: 50%;
  height: 50%;
  background-color: var(--basic-background-color);
  position: relative;
}


/* Label styling */
body > div:first-of-type > label section > p {
  font-family: var(--title-font);
  color: var(--basic-text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: max(5vw, 20px);   /* Max/min for font-sizes */
  text-decoration: line-through;
  opacity: 0.3;
}

body > div:first-of-type > label:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

body > div:first-of-type > label:hover section > p {
  opacity: 1;
  color: var(--hover-text-color);
  text-decoration: underline;
  cursor: pointer;
}


/* Toggle between the labels */
body div input[type="radio"]:not(:checked) + label, div input[type="radio"]:not(:checked) + label section label, div input[type="radio"]:not(:checked) + label section > div {
  display: none;
}

body > input[type="radio"]:checked + div > label {
  display: block;
}


/* Styling when focus is on one of the radio buttons/labels */ 
div input[type="radio"]:checked + label section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

div input[type="radio"]:checked + label  {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

div input[type="radio"]:checked + label section > p {
  top: 10%;
  left: 10%;
  transform: translate(0, 0);
  color: var(--focus-text-color);
  opacity: 1;
  text-decoration: underline;
  font-size: max(5vw, 40px);   /* Max/min for font-sizes */
}

/* Button to uncheck the current radio button */
div input[type="radio"]:checked + label section label {
  font-family: var(--title-font);
  opacity: .3;
  color: var(--hover-text-color);
  font-size: max(5vw, 40px);   /* Max/min for font-sizes */
  background-color: unset;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 10vh;
  right: 10vw;
  text-decoration: line-through;
}

div input[type="radio"]:checked + label section label:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}

/* Styling for the details on the focussed radio button/label */
div input[type="radio"]:checked + label section > div {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  position: absolute;
  top: 25vh;
  left: 10vw;
  justify-content: space-between;
}

div input[type="radio"]:checked + label section > div article {
  margin-bottom: 4vh;
  min-width: 240px;
  width: 33%;
  color: var(--focus-text-color);
}

div input[type="radio"]:checked + label section > div article h3 {
  margin-bottom: 4px;
  font-family: var(--para-font-bold);
}

div input[type="radio"]:checked + label section > div article p {
  font-family: var(--para-font);
  max-width: 95%;
}

